*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 10px;
  color: #262626;
  font-size: 16px;
  background: #fff;
  font-family: 'Merriweather', serif;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

a {
  color: #5C7493;
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%; /* make images responsive! */
}

/* Utility classes*/

/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}

.visually-hidden { /* http://a11yproject.com/posts/how-to-hide-content/ */
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button {
  display: none !important;
}

.hidden {
  display: none;
  visibility: hidden;
}

.wrap {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 800px;
}

/* Enter your custom site-based styles here: */

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.site-wrap {
  margin: 0 auto;
  background: #eee;
  max-width: 800px;
  padding: 0 40px 40px;
}

header {
  padding: 40px;
  text-align: center;
}
header h1 {
  margin-top: 0;
}

nav a {
  margin: 0 10px;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  transition: border .2s ease-out;
  border-bottom: 1px solid rgba(0,0,0,0);
}
nav a:hover {
  border-bottom: 1px solid #5C7493;
}

.portrait {
  display: block;
  max-width: 300px;
  border-radius: 50%;
  margin: 0 auto 40px;
  border: 6px solid #262626;
}

section {
  padding-bottom: 20px;
}
section h1 {
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

footer {
  padding: 20px;
  font-size: 10px;
  text-align: center;
}

/* END CUSTOM STYLES */

/* Yay responsive design! Do stuff for different viewport sizes! */
@media screen and (max-width: 600px) {
  .site-wrap {
    padding: 0 10px 20px;
  }

  header {
    padding: 20px;
  }

  .portrait {
    max-width: 200px;
  }
}