*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: #fff;
  font-family: 'Helvetica', Arial, sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.25em;
}

a {
  color: inherit;
}

img {
  height: auto;
  max-width: 100%; /* make images responsive! */
}

/* Utility classes*/

/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}

.visually-hidden { /* http://a11yproject.com/posts/how-to-hide-content/ */
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button {
  display: none !important;
}

.hidden {
  display: none;
  visibility: hidden;
}

.wrap {

}

/* Enter your custom site-based styles here: */



/* END CUSTOM STYLES */

/* Yay responsive design! Do stuff for different viewport sizes! */
@media screen and (max-width: 600px) {

}